<!DOCTYPE html>
<html>
<body>
<form action="/runRPiScripts">
  <p> Please enter the local and remote directories. Prepend 'user@server:' in either directory if needed. And passwords will not be asked so machines need to be configured so they can access without password </p>
  <p> From Directory: <input type='text' name='from' /> </p>
  <p> To Directory: <input type='text' name='to' /> </p>
  <p> <input type="submit" name="Submit" value="RUN" style="height: 1.5em; width: 5em" > </p>
</form> 
</body>
</html>
