<!DOCTYPE html>
<html>
<body>
<form action="/runRemoteCopy">
  <p> Please enter the local and remote directories. Prepend 'user@server:' in either directory if needed. Remember, this is wrt to machine http server is running on and not where you run your browser. Passwords, if any required, will be prompted on the machine flask is running on and could be deal breaker.</p>
  <p> From Directory: <input type='text' name='from' /> </p>
  <p> To Directory: <input type='text' name='to' /> </p>
  <p> <input type="submit" name="Submit" value="RUN" style="height: 1.5em; width: 5em" > </p>
</form> 
</body>
</html>
